@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    margin: 0;
    background-color: #F2F2F2;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
}

a:visited {
    color: black;
}

nav li {
    list-style: none;
}

.menu {
    background-color: #4738A6;
    color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex: 0.5;
    justify-content: space-around;
    font-size: 16px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100vh;
    width: 20vw;
    padding: 0 2vw;
}

.menu a{
    color: #F2F2F2;
}

.menu ul {
    padding: 0;
}

.menu-cadastro a img{
    width: 4vw;
    height: 4vw;
}

.menu-titulo {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0.2vw;
}

.menu-subtitulo {
    font-weight: bold;
    font-size: 18px;
}

.menu-pesquisa  #pesquisa{
    border-radius: 5px;
    border: 0;
    padding: 18px 12px;
    font-size: 18px;
    height: 0.5vh;
    width: 20vw;
}

.menu-cadastro {
    margin: 2vw 0;
}

.menu-logo{
    margin: 2vw 0;
}

.menu-logo img {
    width: 16vw;
    height: auto;
    margin-bottom: 3vh;
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 0 10vw;
    background-color: #F2F2F2;
    color: #0D0D0D;
    margin-bottom: 6vh;
}

.conteudo p {
    font-size: 20px;
    text-align: left;
}

.conteudo ul {
    margin: 0;
}

.conteudo ul li {
    font-size: 20px;
    text-align: left;
}

.cont-titulo {
    margin-top: 6vh;
    margin-bottom: 4vh;
    font-size: 48px;
}

.cont-titulo h1 {
    margin: 0;
}

.cont-subtitulo {
    font-size: 32px;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.cont-img {
    width: 50vw;
    height: auto;
}

.autor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #656565;
}

.autor a, .autor a:link, .autor a:visited, .autor a:active {
    text-decoration: none;
    color: #656565;
}

.nome-autor {
    margin: auto 0;
}
.img-subtitulo {
    margin: 0;
    width: 32px;
    height: auto;
}

.lista-participantes {
    display: flex;
    justify-content: center;
}

.lista-participantes ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style-type: none;
    padding: 0;
}

.lista-participantes ul li {
    display: flex;
    margin: 2vh 2vw;
}

.lista-participantes-texto {
    margin: auto;
}

.lista-participantes-nome {
    font-size: 32px;
    font-weight: 500;
}

.lista-participantes-ocupacao {
    font-size: 20px;
    text-align: left;
    color: #656565;
}

.lista-participantes-img {
    width: 150px;
    height: auto;
}

.lista-participantes-img-crop {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10%;
    margin: 1vw 2vw;
}

.img-perfil {
    width: 500px;
    height: auto;
}

.img-perfil-crop {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 10%;
    margin: 5vh auto;
}

.perfil-titulo {
    margin-top: 6vh;
    margin-bottom: 4vh;
    font-size: 32px;
}

.perfil-titulo h1 {
    margin: 0;
}

.lista-salvos {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.lista-salvos ul {
    display: grid;
    text-align: center;
    justify-self: center;
    grid-template-columns: repeat(2,1fr);
    list-style-type: none;
    padding: 0;
}

.lista-salvos ul li {
    background-color: #B9B9B9;
    border-radius: 30px;
    margin: 0 2vw ;
}

.lista-salvos ul li ul {
    grid-template-columns: repeat(1,1fr);
    list-style-type: disc;
    margin: 24px 0;
}

.lista-salvos ul li ul li {
    margin: 10px 40px;
}

.lista-salvos h2 {
    font-weight: 500;
    margin-top: 0;
}

.QS-card {
    display: flex;
}

.QS-card-img {
    width: 200px;
    height: auto;
}

.QS-card-img-crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10%;
    margin: 6vh;
}

.QS-card-text {
    margin: auto;
    margin-left: 0;
}

.QS-card-text-nome {
    font-size: 48px;
    font-weight: 500;
}

.QS-card-text-ocupacao {
    font-size: 24px;
    text-align: left;
    color: #656565;
    margin-left: 1px;
}

.formulario{
    background-color: #4738A6;
    color: #0D0D0D;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.formulario-titulo {
    font-size: 64px;
    font-weight: bolder;
}

.formulario label, .formulario input {
    display: block;
    text-align: left;
    font-size: 24px;
}

.formulario input {
    background-color: #B9B9B9;
    border: 0;
    border-radius: 10px;
    min-width: 30vw;
}

.formulario-conjunto {
    margin: 1vw 2vw;
}

.formulario-bloco {
    background-color: #f2f2f2;
    margin: auto;
    padding: 3vw;
    border-radius: 15px;
}

#formulario-contato-msg {
    min-height: 20vh;
}

.formulario button {
    font-size: 24px;
    font-weight: bolder;
    background-color: #4738A6;
    color: #F2F2F2;
    border: 4px solid #4738A6;
    border-radius: 10px;
    padding: 10px 40px;
}

.formulario button:hover{
    background-color: #F2F2F2;
    color: #4738A6;
    border: 4px solid #4738A6;
    border-radius: 10px;
}

.formulario-botoes {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    margin-top: 2vw;
}